<div class="row w-100 mx-0 auth-page">
  <div class="col-md-8 col-xl-6 mx-auto">
    <div class="card">
      <div class="row">
        <div class="col-md-4 pe-md-0">
          <div class="auth-side-wrapper" [ngStyle]="{ 'background-image': 'url(https://picsum.photos/1752/3616)' }">

          </div>
        </div>
        <div class="col-md-8 ps-md-0">
          <div class="auth-form-wrapper px-4 py-5">
            <a routerLink="." class="dibtui-logo d-block mb-2">DİBT<span>UI</span></a>
            <h5 class="text-muted fw-normal mb-4">DİBT'e Hoşgeldiniz! Hesabınıza giriş yapınız.</h5>
            <form #loginForm="ngForm" class="forms-sample">
              <div class="mb-3">
                <label for="username" class="form-label">Kullancı Adı</label>
                <input name="username" #username="ngModel" ngModel type="email" class="form-control" id="username"
                       placeholder="Kullanıcı Adı">
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Şifre</label>
                <input name="password" #password="ngModel" ngModel type="password" class="form-control" id="password"
                       autocomplete="current-password" placeholder="Şifre">
              </div>
              <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" id="authCheck">
                <label class="form-check-label" for="authCheck">
                  Beni Hatırla
                </label>
              </div>
              <div>
                <button *ngIf="!isLoading" type="submit" class="btn btn-primary me-2 mb-2 mb-md-0"
                        (click)="login(loginForm)">Giriş
                </button>
                <button *ngIf="isLoading" class="btn btn-primary" type="button" disabled>
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  <span class="visually-hidden">Loading...</span>
                </button>
              </div>
              <a routerLink="/auth/register" class="d-block mt-3 text-muted">Hesabın Yok mu? Kayıt Ol</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
