<div class="row d-none d-md-block">
  <app-turkey-map></app-turkey-map>
</div>
<div class="row profile-body">
  <div class="d-none d-md-block col-md-4 col-xl-3 left-wrapper">
  </div>
  <!-- left wrapper end -->
  <!-- middle wrapper start -->
  <div class="col-md-8 col-xl-6 middle-wrapper">
    <div class="row">
      <div class="col-md-12 grid-margin">
        <div *ngFor="let post of posts; index as i" class="card rounded">
          <div class="card-header">
            <div class="d-flex align-items-center justify-content-between">
              <div class="d-flex align-items-center">
                <img class="img-xs rounded-circle" src="https://picsum.photos/37/37" alt="">
                <div class="ms-2">
                  <p>{{post.username}}</p>
                  <p class="tx-11 text-muted">{{post.createdAtMessage}}</p>
                </div>
              </div>
              <div ngbDropdown>
                <button class="btn p-0 no-dropdown-toggle-icon" type="button" id="dropdownMenuButton2"
                        ngbDropdownToggle>
                  <i class="feather icon-more-horizontal icon-lg pb-3px"></i>
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownMenuButton2">
                  <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i
                    class="feather icon-meh icon-sm me-2"></i> <span class="">Unfollow</span></a>
                  <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i
                    class="feather icon-corner-right-up icon-sm me-2"></i> <span class="">Go to post</span></a>
                  <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i
                    class="feather icon-share-2 icon-sm me-2"></i> <span class="">Share</span></a>
                  <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i
                    class="feather icon-copy icon-sm me-2"></i> <span class="">Copy link</span></a>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <h6 class="card-title mb-3">{{post.title}}</h6>
            <p class="mb-3 tx-14">{{post.content}}</p>
            <img *ngIf="post.mediaUrls&&post.mediaUrls.length===1" class="img-fluid" ngSrc="post.mediaUrls[0]" alt="">
            <ngb-carousel *ngIf="post.mediaUrls&&post.mediaUrls.length>1" class="carousel-fade"
                          [showNavigationArrows]="true" [showNavigationIndicators]="true">
              <ng-template ngbSlide *ngFor="let image of post.mediaUrls">
                <div class="picsum-img-wrapper">
                  <img [src]="image" class="d-block w-100" alt="Random slide">
                </div>
              </ng-template>
            </ngb-carousel>
          </div>
          <div class="card-footer">
            <div class="d-flex post-actions">
              <a href="" (click)="false" class="d-flex align-items-center text-muted me-4">
                <i class="feather icon-heart icon-md"></i>
                <p class="d-none d-md-block ms-2">Like</p>
              </a>
              <a (click)="comment(commentModal,post.id);selectedPost=post"
                 class="d-flex align-items-center text-muted me-4">
                <i class="feather icon-message-square icon-md"></i>
                <p class="d-none d-md-block ms-2">Comment</p>
              </a>
              <a href="" (click)="false" class="d-flex align-items-center text-muted">
                <i class="feather icon-share icon-md"></i>
                <p class="d-none d-md-block ms-2">Share</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger lg modal -->
<button id="btn-compliment" class="btn btn-primary btn-icon-text  mb-5 ml--5" (click)="openLgModal(lgModal)">
  +<i class="feather icon-edit-3 btn-icon-append"></i>
</button>

<!-- Modal -->
<ng-template #lgModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Şikayet Oluşturma</h5>
    <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <app-complaint-create></app-complaint-create>
  </div>
</ng-template>


<ng-template #commentModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="comment">Yorumlar</h5>
    <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <div class="row chat-wrapper">
      <div class="col-md-12">
        <div class="card" style="box-shadow: none; border: none">
          <div class="card-body">
            <div class="row position-relative">
              <div class="col-6 d-none d-lg-block chat-aside border-end-lg">
                <div class="card rounded" style="box-shadow: none; border: none">
                  <div class="card-header">
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="d-flex align-items-center">
                        <img class="img-xs rounded-circle" src="https://picsum.photos/37/37" alt="">
                        <div class="ms-2">
                          <p>{{selectedPost.username}}</p>
                          <p class="tx-11 text-muted">{{selectedPost.createdAtMessage}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <h6 class="card-title mb-3">{{selectedPost.title}}</h6>
                    <p class="mb-3 tx-14">{{selectedPost.content}}</p>
                    <img *ngIf="selectedPost.mediaUrls&&selectedPost.mediaUrls.length===1" class="img-fluid"
                         ngSrc="post.mediaUrls[0]" alt="" style="max-height: 300px; object-fit: contain">
                    <ngb-carousel *ngIf="selectedPost.mediaUrls&&selectedPost.mediaUrls.length>1" class="carousel-fade"
                                  [showNavigationArrows]="true" [showNavigationIndicators]="true">
                      <ng-template ngbSlide *ngFor="let image of selectedPost.mediaUrls">
                        <div class="picsum-img-wrapper">
                          <img [src]="image" class="d-block w-100 img-fluid" alt="Random slide"
                               style="max-height: 300px; object-fit: contain">
                        </div>
                      </ng-template>
                    </ngb-carousel>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-6 chat-content d-flex flex-column">
                <p *ngIf="loading" class="text-center text-muted">Yorumlar yükleniyor...</p>
                <div *ngIf="!loading&&comments.length>0" class="chat-body" [perfectScrollbar]>
                  <ul class="messages">
                    <li *ngFor="let comm of comments; index as i;" class="message-item friend">
                      <img [src]="'https://picsum.photos/37/3'+(comm.userId)" class="img-xs rounded-circle" alt="avatar">
                      <div class="content">
                        <div class="message">
                          <div class="bubble">
                            <p>{{comm.content}}</p>
                          </div>
                          <span class="text-dark text-bold mx-3">{{comm.username|lowercase}}  </span>
                          <span>{{comm.createdDate|date}}</span>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <p *ngIf="!loading&&comments.length<=0" class="text-center text-muted my-3">Henüz yorum yapılmamış. İlk
                  yorumu sen yap!</p>
                <div class="chat-footer d-flex mt-auto">
                  <form #commentForm="ngForm" class="search-form flex-grow-1 me-2">
                    <div class="input-group">
                      <input required ngModel #commentText="ngModel" name="commentText" type="text"
                             class="form-control rounded-pill" id="chatForm" placeholder="Type a message">
                    </div>
                  </form>
                  <div>
                    <button *ngIf="!makeCommentLoading" (click)="makeComment(commentForm)" type="button"
                            class="btn btn-primary btn-icon rounded-circle">
                      <i class="feather icon-send"></i>
                    </button>

                    <button *ngIf="makeCommentLoading" type="button" class="btn btn-primary btn-icon rounded-circle">
                      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    </button>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
