<div class="row">
  <div class="col-md-12 form-group">
    <div>
      <label for="compTittle" class="form-label">Şikayet Başlığı</label>
      <input [(ngModel)]="newComplaint.title" type="text" class="form-control" id="compTittle"
             placeholder="Şikayetinizin başlığını giriniz...">
      <br>
    </div>
    <div>
      <label for="compCont" class="form-label">Şikayet İçeriği</label>
      <textarea [mention]="httpItems | async"  (searchTerm)='search($event)' [(ngModel)]="newComplaint.content"
                class="form-control" id="compCont" placeholder="Şikayetinizin detaylarını giriniz..."
                rows="3"></textarea>
      <br>
    </div>
    <div>
      <label for="compFile" class="form-label">Şikayet Dosyası</label>
      <input [(ngModel)]="newComplaint.files" type="file" accept="image/*, video/*" class="form-control" id="compFile"
             placeholder="Şikayet dosyanızı yükleyiniz...">
      <br>
    </div>
    <button (click)="addComplaint(newComplaint)" class="btn btn-primary">Şikayet Gönder</button>
  </div>
</div>
